<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ">
<div class="container text-center"> <h2 class="pb-2  text-center ">Let's get in Contact !</h2>
    <p class="lead mb-4"> If you would like to get personalized consultations about our Health Plans, services we provide at the Clinics, etc, leave us a message and we will contact you shortly.</p>
</div>

<div class="container text-center">
    <div class="card p-5">
    <div class="row">
        <div class="col-md-12">
        <div class="row">
            <div class="col-md-6"> <input type="text" placeholder="Name" class="form-control" /> 
            </div>
                <div class="col-md-6"> <input type="text" placeholder="Email" class="form-control" /> 
                </div>
            </div>
            <div class="row mt-3">
            <div class="col-md-12"> <textarea class="form-control textarea" rows="4"> Message..</textarea> </div>
        </div>
        <div class="send-button mt-4"> <button class="btn btn-outline-secondary btn-lg px-4">Send Message</button> </div>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="container py-5 px-4">
        <form>
        <h5>Subscribe to our newsletter</h5>
        <p>Get the last news about treatments, diets, nutrition, etc.</p>
        <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-outline-secondary btn-lg px-4" type="button">Subscribe</button>
        </div>
        <div class="d-flex flex-wrap align-items-center py-3 my-4 ">
            <ul class="nav col-md-4 ">    
            <li class="nav-item"><a href="/forms" class="nav-link px-2 text-muted">Talk to a Vet</a></li>
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">PetParents</a></li>
            <li class="nav-item"><a href="/healthplans" class="nav-link px-2 text-muted">Health Plans</a></li>   
            </ul>
        </div>
        <div class="d-flex justify-content-between py-4 my-4">
            <p>&copy; 2021 PetAmbulance. All rights reserved.</p>
        </div>
        </form>
    </div>
    </div>
</div>

<img src="/images/dogfooter.webp" class="img-fluid d-block " alt="doggie">
</footer>