<head>
    <title>PetAmbulance Health Plans</title>
</head>

<body>
    <div class="container py-3">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="hptitle display-4 fw-normal">Health Plans</h1> 
            <p class="fs-5 text-muted">Our goal is to provide a variety of options to our customers, so they can find what's suitable for their pets and their budget.</p>
        </div>

        <div class="row row-cols-1  mb-3 g-col-6 g-col-md-4 text-center">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Monthly</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$9<small class="text-muted fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Unlimited 24/7 visits and follow-ups.</li>
                    <li>Personalized diet and nutrition programs.</li>
                    <li>Premium support for any account questions.</li>
                    <img src="./images/puppy.png " class="img-fluid" alt="puppydrawing" >
                  </ul>
                  <a href="/forms" class="btn btn-outline-secondary btn-lg px-4">Get started</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm ">
                <div class="card-header py-3  ">
                  <h4 class="my-0 fw-normal">Annual</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$126<small class="text-muted fw-light">/yr</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Unlimited 24/7 visits and follow-ups.</li>
                    <li>Personalized diet and nutrition programs.</li>
                    <li>Acces to experts for behavior and training.</li>
                    <li>Premium support for in-person routine and preventative care.</li>
                    <img src="./images/catdraw.png " class="img-fluid" alt="catdrawing" >
                  </ul>
                  <a href="/forms" type="button" class="btn btn-outline-secondary btn-lg px-4">Get Started</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm ">
                <div class="card-header py-3  ">
                  <h4 class="my-0 fw-normal">More than 1 Pet</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">Premium Discounts</h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Pet Parent of more than one pet?</li>
                    <li>Let's get in contact !</li>
                    <li>We can offer you a customized Plan that can suit all of your pets needs and your economy.</li>
                    <li>Get in contact with us so we can provide more details.</li>
                    <img src="./images/corgi.png " class="img-fluid" alt="corgidrawing" >
                  </ul>
                  <a href="#contact" class="btn btn-outline-secondary btn-lg px-4" >  Contact us</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>