<head>
    <title>PetAmbulance</title>
</head>

<body>
  <article class="px-4 pt-5 my-5 text-center ">
    <div class="px-4 pt-5 my-5 text-center">
        <h3 class="display-4 fw-bold"> It's 11:35 pm. </h3>
        <div class="col-lg-6 mx-auto">
          <h4 class="lead mb-4">Your cat has trouble breathing.</h4>
          <p class="lead mb-4"> Don't panic! Get immediate care with PetAmbulance.</p>

          <a href="/forms" class="btn btn-outline-secondary btn-lg px-4">Talk to a Vet</a>
        </div>
        <img src="/images/cathome.png" class="img-fluid" alt="cathome" >
    </div>
  </article>

  <article class="main2"> 
    <div class="b-example-divider"></div>

      <div class="container px-4 py-5" id="hanging-icons">
        <h1 class="pb-2  text-center ">We bring trusted care to animals everywhere.</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5 ">
          <div class="col d-flex align-items-start">
            <div class="icon-square  text-dark flex-shrink-0 me-3">
              <img class="bi" width="55em" height="55em" src="/images/24-hs.png"/>
            </div>
            <div>
              <h2>24 hs service.</h2>
              <p>All 365 days of the year</p>
              <a href="/workinprogress" class="btn ntb btn-outline-secondary">Emergencies</a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square  text-dark flex-shrink-0 me-3">
              <img class="bi" width="55em" height="55em" src="/images/veterinary.png"/>
            </div>
            <div>
              <h2>Clinic Centers</h2>
              <p>3 Clinic Centers around the country!</p>
              <a href="/workinprogress" class="btn ntb btn-outline-secondary">Locations</a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square  text-dark flex-shrink-0 me-3">
              <img class="bi" width="55em" height="55em" src="/images/doctor.png"/>
            </div>
            <div>
              <h2>Team</h2>
              <p>We are proud of having such a remmarcable team of proffesionals.</p>
              <a href="/workinprogress" class="btn ntb btn-outline-secondary">Know our Team!</a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square  text-dark flex-shrink-0 me-3">
              <img class="bi" width="55em" height="55em" src="/images/stethoscope.png"/>
            </div>
          <div>
            <h2>Health Plans</h2>
            <p>Check our Health Plans: for Monthly or Annual Subscriptions.</p>
            <a href="/healthplans" class="indexbtn btn ntb btn-outline-secondary">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="main3" id="PetParent">
    <div class="b-example-divider"></div>
      <div class="container px-4 py-5" id="hanging-icons">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators ">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>

          <h2 class="pb-2 text-center">Learn what our Pet Parents have to say about us...</h2>
            <div class="carousel-inner">
              <div class="carousel-item active ">
                <img src="/images/petparent2.png" class="d-block w-100" alt="PetParent">
                <div class="carousel-caption ">
                  <h5>Lizzie,</h5> <small>PetParent of two doggies.</small> 
                  <p><i> “ No more running around with my pets. Plus they have discounts in Healt Plans if you have more than one pet ! “</i></p>
                  <img src="/images/stars.png" alt="stars">
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/petparent3.png" class="d-block w-100" alt="PetAmbulance">
                <div class="carousel-caption d-block d-md-block">
                  <h5>Samantha,</h5> <small>PetParent of one doggie.</small> 
                  <p><i> “ I don't own a car to take Rocco to the vet appointments, and getting a cab can be very tricky, PetAmbulance has been so helpful. “</i></p>
                  <img src="/images/stars.png" alt="stars">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
      </div>
    </div>
  </article>
</body>