<head>
    <title>PetAmbulance</title>
</head>

<body>       
    <article class="px-4 pt-5 my-5 text-center ">
        <div class="px-4 pt-5 my-5 text-center">
            <h3 class="display-4 fw-bold"> We are currently working ... </h3>
            <div class="col-lg-6 mx-auto">
            <h4 class="lead mb-4">We want to provide the best service, so we are updating our website.</h4>
            <p class="lead mb-4"> We are sorry for the inconvenience. Please get in contact with us if you need help or information.</p>
    
            <a href="#contact" class="btn btn-outline-secondary btn-lg px-4">Contact Us</a>
        </div>              
        <div class="img-container img-fluid">
            <img src="/images/flying-cat.png" alt="cat">
        </div>
    </article>
</body>